@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html,
body {
    font-family: 'Roboto';
    color: #303a52;
}

hr {
    border-top: 0.2px solid #b4b4b4;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#buttonSubmit {
    width: 4em;
    height: 2.5em;
}

.disableHr {
    border-top: 0.2px  #b4b4b4;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.spaceBetween {
    
    margin-top: 3em;
    margin-bottom: 3em;
}

.inputTextStyle {
    margin: 0Px 10px 0px 10px;
}

label {
    color: #1b262c;
    margin-top: 0.5em;
}


.spaceBetween2 {
    padding-top: 2em;
}

.inputTextStyle {
    width: 40em;
    height: 2.5em;
}

#listActives li {
    text-decoration: line-through;
}


